In [37]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [24]:
titan_df = pd.read_csv('Titan.csv')


# Let's first convert data into thousand.
titan_df['Old Scheme'] = titan_df['Old Scheme'].apply(lambda x: x*1000)
titan_df['New Scheme'] = titan_df['New Scheme'].apply(lambda x: x*1000)

titan_df.head()

   SALESPERSON  Old Scheme  New Scheme
0            1       57000       62000
1            2      103000      122000
2            3       59000       54000
3            4       75000       82000
4            5       84000       84000

In [25]:
# 1. Find the mean of old scheme and new scheme column. (5 points)

titan_df['Old Scheme'].mean()

68033.33333333333

In [26]:

titan_df['New Scheme'].mean()

# This shown that the mean of the New scheme increaded.

72033.33333333333

In [47]:
# 2. Use the five percent significance test over the data to determine the p value to check new scheme 
# has significantly raised outputs? (10 points)

stats.ttest_rel(titan_df['Old Scheme'], titan_df['New Scheme'])

Ttest_relResult(statistic=-1.5559143823544377, pvalue=0.13057553961337662)

In [48]:
# 3. What conclusion does the test (p-value) lead to? (2.5 points)

# Since p-value (=0.1305) is higher than 0.05, we accept (fail to reject) NULL hypothesis.
# The new scheme has NOT significantly raised outputs.

In [50]:
# 4. Suppose it has been calculated that in order for Titan to break even, the average output must increase 
# by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
#        a) The probability of a type 1 error? (2.5 points)

# Answer:
# Probability of Type I error = significant level = 0.05 or 5%

In [53]:
#   b) What is the p- value of the hypothesis test if we test for a difference of $5000? 

titan_df_MoreThan5000 = titan_df[titan_df['New Scheme'] - titan_df['Old Scheme'] > 5000]

stats.ttest_rel(titan_df_MoreThan5000['Old Scheme'], titan_df_MoreThan5000['New Scheme']) 

# P value = 1.189

Ttest_relResult(statistic=-11.137849312731523, pvalue=1.1892371054904542e-08)

In [58]:
# Power of the test 

from statsmodels.stats.power import TTestIndPower

# parameters for the analysis 
effect_size = 0.8
alpha = 0.05 # significance level
power = 0.8

power_analysis = TTestIndPower()
sample_size = power_analysis.solve_power(effect_size = effect_size, 
                                         power = power, 
                                         alpha = alpha)

print('Required sample size: {0:.2f}'.format(sample_size))

Required sample size: 25.52