In [88]:
import numpy as np
import pandas as pd

In [89]:
# 1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

# I deleted the first epty row in the excel and then imported the file to make sure that first row is coming as header.  

Laliga_df = pd.read_csv("Laliga.csv")

Laliga_df.replace('-',0, inplace= True)

In [90]:
# 2. Print all the teams which have started playing between 1930-1980. (5 points)

Laliga_df['Debut'] = Laliga_df['Debut'].astype(str).str[:4].astype(int)

Laliga_df_new = Laliga_df[Laliga_df['Debut'].between(1930, 1980)].replace('-',0)
print(Laliga_df_new)

    Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
3     4             Valencia       82   3386        2664     1187        616
5     6              Sevilla       73   2819        2408      990        531
8     9             Zaragoza       58   2109        1986      698        522
9    10           Real Betis       51   1884        1728      606        440
10   11  Deportivo La Coruna       45   1814        1530      563        392
11   12           Celta Vigo       51   1789        1698      586        389
12   13           Valladolid       42   1471        1466      463        384
14   15       Sporting Gijon       43   1389        1458      471        358
15   16              Osasuna       37   1351        1318      426        327
16   17               Malaga       36   1314        1255      390        330
17   18               Oviedo       38   1174        1192      408        292
18   19             Mallorca       27   1148         988      333        256
19   20           Las Palmas       33   1020        1096      367        242
21   22              Granada       23    667         742      218        175
22   23       Rayo Vallecano       17    662         652      189        148
23   24                Elche       21    606         678      203        180
25   26             Hercules       20    538         628      184        149
26   27             Tenerife       13    510         494      155        128
27   28               Murcia       18    445         586      145        143
28   29               Alaves       12    421         380      125         81
29   30              Levante       11    416         402      113         95
30   31            Salamanca       12    375         423      123        102
31   32             Sabadell       14    353         426      129         95
32   33                Cadiz       12    343         448      104        127
34   35            Castellon       11    285         334      103         79
37   38              Cordoba        9    230         282       82         63
39   40           Recreativo        5    188         186       50         46
40   41            Burgos CF        6    168         204       59         50
41   42           Pontevedra        6    150         180       53         44
46   47            Gimnastic        4     91         116       34         16
49   50             Alcoyano        4     76         108       30         16
50   51                 Jaen        3     71          90       29         13
52   53           AD Almeria        2     52          68       17         18
54   55               Lleida        2     40          68       13         14
57   58               Condal        1     22          30        7          8
58   59      Atletico Tetuan        1     19          30        7          5
59   60     Cultural Leonesa        1     14          30        5          4

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
3        861     4398         3469        6         6    10     11    10
5        887     3680         3373        1         4     4      5    12
8        766     2683         2847        0         1     4      5     4
9        682     2159         2492        1         0     2      3     4
10       575     2052         2188        1         5     4      1     0
11       723     2278         2624        0         0     0      2     4
12       619     1767         2180        0         0     0      1     1
14       629     1753         2152        0         1     1      2     2
15       565     1500         1834        0         0     0      2     2
16       535     1421         1763        0         0     0      1     0
17       492     1642         1951        0         0     3      2     2
18       399     1182         1371        0         0     2      0     2
19       487     1347         1746        0         1     1      1     1
21       349      819         1157        0         0     0      0     0
22       305      760         1088        0         0     0      0     0
23       295      750         1022        0         0     0      0     1
25       295      716         1050        0         0     0      0     1
26       211      619          744        0         0     0      0     2
27       298      607          992        0         0     0      0     0
28       174      458          623        0         0     0      0     0
29       194      430          632        0         0     0      0     0
30       198      422          581        0         0     0      0     0
31       202      492          720        0         0     0      1     1
32       217      393          662        0         0     0      0     0
34       152      419          588        0         0     0      1     2
37       137      285          430        0         0     0      0     1
39        90      202          296        0         0     0      0     0
40        95      216          310        0         0     0      0     0
41        83      165          221        0         0     0      0     0
46        66      181          295        0         0     0      0     0
49        62      145          252        0         0     0      0     0
50        48      121          183        0         0     0      0     0
52        33       71          116        0         0     0      0     0
54        41       70          182        0         0     0      0     0
57        15       37           57        0         0     0      0     0
58        18       51           85        0         0     0      0     0
59        21       34           65        0         0     0      0     0

   Sixth   T  Debut Since/LastApp  BestPosition
3      7  50   1931       1987-88             1
5      6  32   1934       2001-02             1
8      4  18   1939       2012-13             2
9      4  14   1932       2015-16             1
10     1  12   1941       2014-15             1
11     5  11   1939       2012-13             4
12     1   3   1948       2013-14             4
14     1   7   1944       2015-16             2
15     2   6   1935       2016-17             4
16     1   2   1949       2008-09             4
17     4  11   1933       2000-01             3
18     1   5   1960       2012-13             3
19     1   5   1951       2015-16             2
21     2   2   1941       2016-17             6
22     0   0   1977       2015-16             8
23     1   2   1959       2014-15             5
25     4   5   1935       2010-11             5
26     0   2   1961       2009-10             5
27     0   0   1940       2007-08            11
28     1   1   1930       2016-17             6
29     1   1   1963       2015-16             6
30     0   0   1974       1998-99             7
31     0   2   1943       1987-88             4
32     0   0   1977       2005-06            12
34     0   3   1941       1990-91             4
37     0   1   1962       2014-15             5
39     0   0   1978       2008-09             8
40     0   0   1971       1979-80            12
41     0   0   1963       1969-70             7
46     0   0   1947       2006-07             7
49     0   0   1945       1950-51            10
50     0   0   1953       1957-58            14
52     0   0   1979       1980-81            10
54     0   0   1950       1993-94            16
57     0   0   1956       1956-57            16
58     0   0   1951       1951-52            16
59     0   0   1955       1955-56            15

In [91]:
# 3. Print the list of teams which came Top 5 in terms of points 

# First changing the datatype of this column.
Laliga_df.Points = Laliga_df.Points.astype(int)
print(Laliga_df.nlargest(5, ['Points']) )

   Pos             Team  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
0    1      Real Madrid       86    4385        2762     1647        552
1    2        Barcelona       86    4262        2762     1581        573
2    3  Atletico Madrid       80    3442        2614     1241        598
3    4         Valencia       82    3386        2664     1187        616
4    5  Athletic Bilbao       86    3368        2762     1209        633

  GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth Sixth  \
0       563     5947         3140       33        23     8      8     3     4
1       608     5900         3114       25        25    12     12     4     6
2       775     4534         3309       10         8    16      9     7     6
3       861     4398         3469        6         6    10     11    10     7
4       920     4631         3700        8         7    10      5     8    10

    T  Debut Since/LastApp  BestPosition
0  79   1929          1929             1
1  83   1929          1929             1
2  56   1929       2002-03             1
3  50   1931       1987-88             1
4  49   1929          1929             1

In [92]:
# Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. 
# Using the same function, find the team which has maximum and minimum goal difference. (5 points)
# Goal_diff_count = GoalsFor - GoalsAgainst 


Laliga_df.GoalsFor = Laliga_df.GoalsFor.astype(int)
Laliga_df.GoalsAgainst = Laliga_df.GoalsAgainst.astype(int)

def Goal_diff_count(Laliga_df):
    Laliga_df["Goal_diff_count"] = Laliga_df["GoalsFor"] - Laliga_df["GoalsAgainst"]
    print(Laliga_df)
    print(Laliga_df.nlargest(1, ['Goal_diff_count']))
    print(Laliga_df.nsmallest(1, ['Goal_diff_count']))
    
Goal_diff_count(Laliga_df)

    Pos                 Team  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
0     1          Real Madrid       86    4385        2762     1647        552
1     2            Barcelona       86    4262        2762     1581        573
2     3      Atletico Madrid       80    3442        2614     1241        598
3     4             Valencia       82    3386        2664     1187        616
4     5      Athletic Bilbao       86    3368        2762     1209        633
5     6              Sevilla       73    2819        2408      990        531
6     7             Espanyol       82    2792        2626      948        608
7     8        Real Sociedad       70    2573        2302      864        577
8     9             Zaragoza       58    2109        1986      698        522
9    10           Real Betis       51    1884        1728      606        440
10   11  Deportivo La Coruna       45    1814        1530      563        392
11   12           Celta Vigo       51    1789        1698      586        389
12   13           Valladolid       42    1471        1466      463        384
13   14     Racing Santander       44    1416        1428      453        336
14   15       Sporting Gijon       43    1389        1458      471        358
15   16              Osasuna       37    1351        1318      426        327
16   17               Malaga       36    1314        1255      390        330
17   18               Oviedo       38    1174        1192      408        292
18   19             Mallorca       27    1148         988      333        256
19   20           Las Palmas       33    1020        1096      367        242
20   21           Villarreal       17     970         646      266        172
21   22              Granada       23     667         742      218        175
22   23       Rayo Vallecano       17     662         652      189        148
23   24                Elche       21     606         678      203        180
24   25               Getafe       12     553         456      147        112
25   26             Hercules       20     538         628      184        149
26   27             Tenerife       13     510         494      155        128
27   28               Murcia       18     445         586      145        143
28   29               Alaves       12     421         380      125         81
29   30              Levante       11     416         402      113         95
..  ...                  ...      ...     ...         ...      ...        ...
31   32             Sabadell       14     353         426      129         95
32   33                Cadiz       12     343         448      104        127
33   34             Logrones        9     293         346       96         92
34   35            Castellon       11     285         334      103         79
35   36             Albacete        7     277         270       76         76
36   37              Almeria        6     242         228       62         56
37   38              Cordoba        9     230         282       82         63
38   39           Compostela        4     190         160       52         45
39   40           Recreativo        5     188         186       50         46
40   41            Burgos CF        6     168         204       59         50
41   42           Pontevedra        6     150         180       53         44
42   43             Numancia        4     148         152       37         37
43   44                Eibar        3     132         114       35         27
44   45               Arenas        7     107         130       43         21
45   46          Real Burgos        3      96         114       26         44
46   47            Gimnastic        4      91         116       34         16
47   48          Extremadura        2      83          80       20         23
48   49               Merida        2      81          80       19         24
49   50             Alcoyano        4      76         108       30         16
50   51                 Jaen        3      71          90       29         13
51   52           Real Union        4      56          72       21         14
52   53           AD Almeria        2      52          68       17         18
53   54               Europa        3      42          54       18          6
54   55               Lleida        2      40          68       13         14
55   56              Leganes        1      35          38        8         11
56   57                Xerez        1      34          38        8         10
57   58               Condal        1      22          30        7          8
58   59      Atletico Tetuan        1      19          30        7          5
59   60     Cultural Leonesa        1      14          30        5          4
60   61               Girona        1       0           0        0          0

   GamesLost  GoalsFor  GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  \
0        563      5947          3140  ...        23     8      8     3     4
1        608      5900          3114  ...        25    12     12     4     6
2        775      4534          3309  ...         8    16      9     7     6
3        861      4398          3469  ...         6    10     11    10     7
4        920      4631          3700  ...         7    10      5     8    10
5        887      3680          3373  ...         4     4      5    12     6
6       1070      3609          3889  ...         0     4      5     2     5
7        861      3228          3230  ...         3     2      5     4     3
8        766      2683          2847  ...         1     4      5     4     4
9        682      2159          2492  ...         0     2      3     4     4
10       575      2052          2188  ...         5     4      1     0     1
11       723      2278          2624  ...         0     0      2     4     5
12       619      1767          2180  ...         0     0      1     1     1
13       639      1843          2368  ...         1     1      2     0     1
14       629      1753          2152  ...         1     1      2     2     1
15       565      1500          1834  ...         0     0      2     2     2
16       535      1421          1763  ...         0     0      1     0     1
17       492      1642          1951  ...         0     3      2     2     4
18       399      1182          1371  ...         0     2      0     2     1
19       487      1347          1746  ...         1     1      1     1     1
20       208       892           789  ...         1     1      2     3     2
21       349       819          1157  ...         0     0      0     0     2
22       305       760          1088  ...         0     0      0     0     0
23       295       750          1022  ...         0     0      0     1     1
24       197       520           633  ...         0     0      0     0     1
25       295       716          1050  ...         0     0      0     1     4
26       211       619           744  ...         0     0      0     2     0
27       298       607           992  ...         0     0      0     0     0
28       174       458           623  ...         0     0      0     0     1
29       194       430           632  ...         0     0      0     0     1
..       ...       ...           ...  ...       ...   ...    ...   ...   ...
31       202       492           720  ...         0     0      1     1     0
32       217       393           662  ...         0     0      0     0     0
33       158       291           489  ...         0     0      0     0     0
34       152       419           588  ...         0     0      1     2     0
35       118       320           410  ...         0     0      0     0     0
36       110       244           366  ...         0     0      0     0     0
37       137       285           430  ...         0     0      0     1     0
38        63       199           241  ...         0     0      0     0     0
39        90       202           296  ...         0     0      0     0     0
40        95       216           310  ...         0     0      0     0     0
41        83       165           221  ...         0     0      0     0     0
42        78       155           253  ...         0     0      0     0     0
43        52       139           167  ...         0     0      0     0     0
44        66       227           308  ...         0     1      0     3     0
45        44       101           139  ...         0     0      0     0     0
46        66       181           295  ...         0     0      0     0     0
47        37        62           117  ...         0     0      0     0     0
48        37        70           115  ...         0     0      0     0     0
49        62       145           252  ...         0     0      0     0     0
50        48       121           183  ...         0     0      0     0     0
51        37       153           184  ...         0     0      0     0     1
52        33        71           116  ...         0     0      0     0     0
53        30        97           131  ...         0     0      0     0     0
54        41        70           182  ...         0     0      0     0     0
55        19        36            55  ...         0     0      0     0     0
56        20        38            66  ...         0     0      0     0     0
57        15        37            57  ...         0     0      0     0     0
58        18        51            85  ...         0     0      0     0     0
59        21        34            65  ...         0     0      0     0     0
60         0         0             0  ...         0     0      0     0     0

     T Debut  Since/LastApp BestPosition  Goal_diff_count
0   79  1929           1929            1             2807
1   83  1929           1929            1             2786
2   56  1929        2002-03            1             1225
3   50  1931        1987-88            1              929
4   49  1929           1929            1              931
5   32  1934        2001-02            1              307
6   16  1929        1994-95            3             -280
7   19  1929        2010-11            1               -2
8   18  1939        2012-13            2             -164
9   14  1932        2015-16            1             -333
10  12  1941        2014-15            1             -136
11  11  1939        2012-13            4             -346
12   3  1948        2013-14            4             -413
13   5  1929        2011-12            2             -525
14   7  1944        2015-16            2             -399
15   6  1935        2016-17            4             -334
16   2  1949        2008-09            4             -342
17  11  1933        2000-01            3             -309
18   5  1960        2012-13            3             -189
19   5  1951        2015-16            2             -399
20   9  1998        2013-14            2              103
21   2  1941        2016-17            6             -338
22   0  1977        2015-16            8             -328
23   2  1959        2014-15            5             -272
24   1  2004        2015-16            6             -113
25   5  1935        2010-11            5             -334
26   2  1961        2009-10            5             -125
27   0  1940        2007-08           11             -385
28   1  1930        2016-17            6             -165
29   1  1963        2015-16            6             -202
..  ..   ...            ...          ...              ...
31   2  1943        1987-88            4             -228
32   0  1977        2005-06           12             -269
33   0  1987        1996-97            7             -198
34   3  1941        1990-91            4             -169
35   0  1991        2004-05            7              -90
36   0  2007        2014-15            8             -122
37   1  1962        2014-15            5             -145
38   0  1994        1997-98           10              -42
39   0  1978        2008-09            8              -94
40   0  1971        1979-80           12              -94
41   0  1963        1969-70            7              -56
42   0  1999        2008-09           17              -98
43   0  2014        2014-15           10              -28
44   4  1929        1934-35            3              -81
45   0  1990        1992-93            9              -38
46   0  1947        2006-07            7             -114
47   0  1996        1998-99           17              -55
48   0  1995        1997-98           19              -45
49   0  1945        1950-51           10             -107
50   0  1953        1957-58           14              -62
51   1  1929        1931-32            6              -31
52   0  1979        1980-81           10              -45
53   0  1929        1930-31            8              -34
54   0  1950        1993-94           16             -112
55   0  2016        2016-17           17              -19
56   0  2009        2009-10           20              -28
57   0  1956        1956-57           16              -20
58   0  1951        1951-52           16              -34
59   0  1955        1955-56           15              -31
60   0  2017        2017-18            9                0

[61 rows x 21 columns]
   Pos         Team  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
0    1  Real Madrid       86    4385        2762     1647        552

  GamesLost  GoalsFor  GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  \
0       563      5947          3140  ...        23     8      8     3     4

    T Debut  Since/LastApp BestPosition  Goal_diff_count
0  79  1929           1929            1             2807

[1 rows x 21 columns]
    Pos              Team  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
13   14  Racing Santander       44    1416        1428      453        336

   GamesLost  GoalsFor  GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  \
13       639      1843          2368  ...         1     1      2     0     1

    T Debut  Since/LastApp BestPosition  Goal_diff_count
13  5  1929        2011-12            2             -525

[1 rows x 21 columns]

In [93]:
# 5. Create a new column with name “Winning Percent” and append it to the data set (5 points)
# Percentage of Winning = (GamesWon / GamesPlayed)*100
# If there are any numerical error, replace it with 0%
# Print the top 5 teams which has the highest Winning percentage

Laliga_df.GamesWon = Laliga_df.GamesWon.astype(int)
Laliga_df.GamesPlayed = Laliga_df.GamesPlayed.astype(int)

Laliga_df["Winning Percent"] = (Laliga_df["GamesWon"] / Laliga_df["GamesPlayed"]) * 100

In [94]:
print(Laliga_df.nlargest(5, ['Winning Percent']))

   Pos             Team  Seasons  Points  GamesPlayed  GamesWon GamesDrawn  \
0    1      Real Madrid       86    4385         2762      1647        552
1    2        Barcelona       86    4262         2762      1581        573
2    3  Atletico Madrid       80    3442         2614      1241        598
3    4         Valencia       82    3386         2664      1187        616
4    5  Athletic Bilbao       86    3368         2762      1209        633

  GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth   T Debut  \
0       563      5947          3140  ...     8      8     3     4  79  1929
1       608      5900          3114  ...    12     12     4     6  83  1929
2       775      4534          3309  ...    16      9     7     6  56  1929
3       861      4398          3469  ...    10     11    10     7  50  1931
4       920      4631          3700  ...    10      5     8    10  49  1929

  Since/LastApp  BestPosition Goal_diff_count  Winning Percent
0          1929             1            2807        59.630702
1          1929             1            2786        57.241130
2       2002-03             1            1225        47.475134
3       1987-88             1             929        44.557057
4          1929             1             931        43.772629

[5 rows x 22 columns]

In [99]:
# 6. Group teams based on their “Best position” and print the sum of their points for all positions

a = Laliga_df.groupby(['BestPosition']).sum()
a['Points']

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32

In [100]:
pwd

'C:\\Users\\a0708440'