# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [7]:
import numpy as np
import pandas as pd

Iris = pd.read_csv('Iris_external.csv')

Iris.head()

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

### Find out the datatypes of each and every column

In [10]:
Iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
Sepal Length (in cm)    150 non-null float64
Sepal Width in (cm)     150 non-null float64
Petal length (in cm)    150 non-null float64
Petal width (in cm)     150 non-null float64
Class                   150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

### Print top 10 & bottom 10 samples from the dataframe

In [19]:
print(Iris.head(10))

print(Iris.tail(10))

   Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
0                   5.1                  3.5                   1.4
1                   4.9                  3.0                   1.4
2                   4.7                  3.2                   1.3
3                   4.6                  3.1                   1.5
4                   5.0                  3.6                   1.4
5                   5.4                  3.9                   1.7
6                   4.6                  3.4                   1.4
7                   5.0                  3.4                   1.5
8                   4.4                  2.9                   1.4
9                   4.9                  3.1                   1.5

   Petal width (in cm)        Class
0                  0.2  Iris-setosa
1                  0.2  Iris-setosa
2                  0.2  Iris-setosa
3                  0.2  Iris-setosa
4                  0.2  Iris-setosa
5                  0.4  Iris-setosa
6                  0.3  Iris-setosa
7                  0.2  Iris-setosa
8                  0.2  Iris-setosa
9                  0.1  Iris-setosa
     Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
140                   6.7                  3.1                   5.6
141                   6.9                  3.1                   5.1
142                   5.8                  2.7                   5.1
143                   6.8                  3.2                   5.9
144                   6.7                  3.3                   5.7
145                   6.7                  3.0                   5.2
146                   6.3                  2.5                   5.0
147                   6.5                  3.0                   5.2
148                   6.2                  3.4                   5.4
149                   5.9                  3.0                   5.1

     Petal width (in cm)           Class
140                  2.4  Iris-virginica
141                  2.3  Iris-virginica
142                  1.9  Iris-virginica
143                  2.3  Iris-virginica
144                  2.5  Iris-virginica
145                  2.3  Iris-virginica
146                  1.9  Iris-virginica
147                  2.0  Iris-virginica
148                  2.3  Iris-virginica
149                  1.8  Iris-virginica

### Find the shape of the dataset

In [21]:
Iris.shape

(150, 5)

### Set the index of the dataframe to be the first column

In [ ]:
Iris.set_index(df.columns[0])

### Use iloc function to print all the rows of the 3rd column

In [22]:
print(Iris.iloc[:,2:3])

     Petal length (in cm)
0                     1.4
1                     1.4
2                     1.3
3                     1.5
4                     1.4
5                     1.7
6                     1.4
7                     1.5
8                     1.4
9                     1.5
10                    1.5
11                    1.6
12                    1.4
13                    1.1
14                    1.2
15                    1.5
16                    1.3
17                    1.4
18                    1.7
19                    1.5
20                    1.7
21                    1.5
22                    1.0
23                    1.7
24                    1.9
25                    1.6
26                    1.6
27                    1.5
28                    1.4
29                    1.6
..                    ...
120                   5.7
121                   4.9
122                   6.7
123                   4.9
124                   5.7
125                   6.0
126                   4.8
127                   4.9
128                   5.6
129                   5.8
130                   6.1
131                   6.4
132                   5.6
133                   5.1
134                   5.6
135                   6.1
136                   5.6
137                   5.5
138                   4.8
139                   5.4
140                   5.6
141                   5.1
142                   5.1
143                   5.9
144                   5.7
145                   5.2
146                   5.0
147                   5.2
148                   5.4
149                   5.1

[150 rows x 1 columns]

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [23]:
print(Iris.iloc[:10,1:3])

   Sepal Width in (cm)  Petal length (in cm)
0                  3.5                   1.4
1                  3.0                   1.4
2                  3.2                   1.3
3                  3.1                   1.5
4                  3.6                   1.4
5                  3.9                   1.7
6                  3.4                   1.4
7                  3.4                   1.5
8                  2.9                   1.4
9                  3.1                   1.5

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

In [27]:
print(Iris.loc[Iris['Class'] == 'Iris-setosa'])

    Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
0                    5.1                  3.5                   1.4
1                    4.9                  3.0                   1.4
2                    4.7                  3.2                   1.3
3                    4.6                  3.1                   1.5
4                    5.0                  3.6                   1.4
5                    5.4                  3.9                   1.7
6                    4.6                  3.4                   1.4
7                    5.0                  3.4                   1.5
8                    4.4                  2.9                   1.4
9                    4.9                  3.1                   1.5
10                   5.4                  3.7                   1.5
11                   4.8                  3.4                   1.6
12                   4.8                  3.0                   1.4
13                   4.3                  3.0                   1.1
14                   5.8                  4.0                   1.2
15                   5.7                  4.4                   1.5
16                   5.4                  3.9                   1.3
17                   5.1                  3.5                   1.4
18                   5.7                  3.8                   1.7
19                   5.1                  3.8                   1.5
20                   5.4                  3.4                   1.7
21                   5.1                  3.7                   1.5
22                   4.6                  3.6                   1.0
23                   5.1                  3.3                   1.7
24                   4.8                  3.4                   1.9
25                   5.0                  3.0                   1.6
26                   5.0                  3.4                   1.6
27                   5.2                  3.5                   1.5
28                   5.2                  3.4                   1.4
29                   4.7                  3.2                   1.6
30                   4.8                  3.1                   1.6
31                   5.4                  3.4                   1.5
32                   5.2                  4.1                   1.5
33                   5.5                  4.2                   1.4
34                   4.9                  3.1                   1.5
35                   5.0                  3.2                   1.2
36                   5.5                  3.5                   1.3
37                   4.9                  3.1                   1.5
38                   4.4                  3.0                   1.3
39                   5.1                  3.4                   1.5
40                   5.0                  3.5                   1.3
41                   4.5                  2.3                   1.3
42                   4.4                  3.2                   1.3
43                   5.0                  3.5                   1.6
44                   5.1                  3.8                   1.9
45                   4.8                  3.0                   1.4
46                   5.1                  3.8                   1.6
47                   4.6                  3.2                   1.4
48                   5.3                  3.7                   1.5
49                   5.0                  3.3                   1.4

    Petal width (in cm)        Class
0                   0.2  Iris-setosa
1                   0.2  Iris-setosa
2                   0.2  Iris-setosa
3                   0.2  Iris-setosa
4                   0.2  Iris-setosa
5                   0.4  Iris-setosa
6                   0.3  Iris-setosa
7                   0.2  Iris-setosa
8                   0.2  Iris-setosa
9                   0.1  Iris-setosa
10                  0.2  Iris-setosa
11                  0.2  Iris-setosa
12                  0.1  Iris-setosa
13                  0.1  Iris-setosa
14                  0.2  Iris-setosa
15                  0.4  Iris-setosa
16                  0.4  Iris-setosa
17                  0.3  Iris-setosa
18                  0.3  Iris-setosa
19                  0.3  Iris-setosa
20                  0.2  Iris-setosa
21                  0.4  Iris-setosa
22                  0.2  Iris-setosa
23                  0.5  Iris-setosa
24                  0.2  Iris-setosa
25                  0.2  Iris-setosa
26                  0.4  Iris-setosa
27                  0.2  Iris-setosa
28                  0.2  Iris-setosa
29                  0.2  Iris-setosa
30                  0.2  Iris-setosa
31                  0.4  Iris-setosa
32                  0.1  Iris-setosa
33                  0.2  Iris-setosa
34                  0.1  Iris-setosa
35                  0.2  Iris-setosa
36                  0.2  Iris-setosa
37                  0.1  Iris-setosa
38                  0.2  Iris-setosa
39                  0.2  Iris-setosa
40                  0.3  Iris-setosa
41                  0.3  Iris-setosa
42                  0.2  Iris-setosa
43                  0.6  Iris-setosa
44                  0.4  Iris-setosa
45                  0.3  Iris-setosa
46                  0.2  Iris-setosa
47                  0.2  Iris-setosa
48                  0.2  Iris-setosa
49                  0.2  Iris-setosa

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

### Find out the mean and variance for each column but for class column

In [29]:
Iris.mean(axis=0)

Iris.var(axis=0)

Sepal Length (in cm)    0.685694
Sepal Width in (cm)     0.188004
Petal length (in cm)    3.113179
Petal width (in cm)     0.582414
dtype: float64

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [30]:
def New_fucntion(number1, number2):
    return print(number1, number2)


New_fucntion(Iris.iloc[4:5,0:1],Iris.iloc[4:5,1:2])

   Sepal Length (in cm)
4                   5.0    Sepal Width in (cm)
4                  3.6

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

### Sort the entire dataset according to the column Petal width

In [34]:
Iris.sort_values(by=['Petal length (in cm)'])

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
22,4.6,3.6,1.0,0.2,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
35,5.0,3.2,1.2,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
40,5.0,3.5,1.3,0.3,Iris-setosa
38,4.4,3.0,1.3,0.2,Iris-setosa
42,4.4,3.2,1.3,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
41,4.5,2.3,1.3,0.3,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
45,4.8,3.0,1.4,0.3,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
47,4.6,3.2,1.4,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa
0,5.1,3.5,1.4,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
34,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
31,5.4,3.4,1.5,0.4,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
...,...,...,...,...,...
139,6.9,3.1,5.4,2.1,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
137,6.4,3.1,5.5,1.8,Iris-virginica
112,6.8,3.0,5.5,2.1,Iris-virginica
116,6.5,3.0,5.5,1.8,Iris-virginica
136,6.3,3.4,5.6,2.4,Iris-virginica
140,6.7,3.1,5.6,2.4,Iris-virginica
128,6.4,2.8,5.6,2.1,Iris-virginica
134,6.1,2.6,5.6,1.4,Iris-virginica
103,6.3,2.9,5.6,1.8,Iris-virginica
132,6.4,2.8,5.6,2.2,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
120,6.9,3.2,5.7,2.3,Iris-virginica
124,6.7,3.3,5.7,2.1,Iris-virginica
108,6.7,2.5,5.8,1.8,Iris-virginica
129,7.2,3.0,5.8,1.6,Iris-virginica
104,6.5,3.0,5.8,2.2,Iris-virginica
102,7.1,3.0,5.9,2.1,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
100,6.3,3.3,6.0,2.5,Iris-virginica
125,7.2,3.2,6.0,1.8,Iris-virginica
130,7.4,2.8,6.1,1.9,Iris-virginica
135,7.7,3.0,6.1,2.3,Iris-virginica
109,7.2,3.6,6.1,2.5,Iris-virginica
107,7.3,2.9,6.3,1.8,Iris-virginica
131,7.9,3.8,6.4,2.0,Iris-virginica
105,7.6,3.0,6.6,2.1,Iris-virginica
117,7.7,3.8,6.7,2.2,Iris-virginica
122,7.7,2.8,6.7,2.0,Iris-virginica
118,7.7,2.6,6.9,2.3,Iris-virginica

### Remove the new column "SepalExtra" from the dataframe

In [ ]:
Iris.drop(['SepalExtra'], axis=1, inplace = True)

Iris.head()

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

In [37]:
IrisSubset = Iris.iloc[:10,0:3]

In [38]:

IrisSubset.head()

   Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)
0                   5.1                  3.5                   1.4
1                   4.9                  3.0                   1.4
2                   4.7                  3.2                   1.3
3                   4.6                  3.1                   1.5
4                   5.0                  3.6                   1.4

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [3]:
import numpy as np 
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [4]:
HR_external = pd.read_table('HR_external.txt')

HR_external.head()

C:\Users\a0708440\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

,Individual,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Ind1,Yes,41,1,1102,1,1,2,1,1,...,1,80,0,8,0,1,6,4,0,5
1,Ind2,No,49,2,279,2,8,1,1,1,...,4,80,1,10,3,3,10,7,1,7
2,Ind3,Yes,37,1,1373,2,2,2,6,1,...,2,80,0,7,3,3,0,0,0,0
3,Ind4,No,33,2,1392,2,3,4,1,1,...,3,80,0,8,3,3,8,7,3,0
4,Ind5,No,27,1,591,2,2,1,2,1,...,4,80,1,6,3,3,2,2,2,2

### Print the no of rows and columns in the dataset

In [5]:
print(HR_external.shape[0])

1470

In [6]:
print(HR_external.shape[1])

35

### Find out the type of each and every column in the dataset

In [57]:
HR_external.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Individual                  1470 non-null object
Attrition                   1470 non-null object
Age                         1470 non-null int64
BusinessTravel              1470 non-null int64
DailyRate                   1470 non-null int64
Department                  1470 non-null int64
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null int64
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null int64
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null int64
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null int64
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
OverTime                    1470 non-null int64
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(33), object(2)
memory usage: 402.0+ KB

### Print out all the rows from 3rd column to 10th columns

In [59]:
print(HR_external.iloc[:,2:10])

      Age  BusinessTravel  DailyRate  Department  DistanceFromHome  Education  \
0      41               1       1102           1                 1          2
1      49               2        279           2                 8          1
2      37               1       1373           2                 2          2
3      33               2       1392           2                 3          4
4      27               1        591           2                 2          1
5      32               2       1005           2                 2          2
6      59               1       1324           2                 3          3
7      30               1       1358           2                24          1
8      38               2        216           2                23          3
9      36               1       1299           2                27          3
10     35               1        809           2                16          3
11     29               1        153           2                15          2
12     31               1        670           2                26          1
13     34               1       1346           2                19          2
14     28               1        103           2                24          3
15     29               1       1389           2                21          4
16     32               1        334           2                 5          2
17     22               3       1123           2                16          2
18     53               1       1219           1                 2          4
19     38               1        371           2                 2          3
20     24               3        673           2                11          2
21     36               1       1218           1                 9          4
22     34               1        419           2                 7          4
23     21               1        391           2                15          2
24     34               1        699           2                 6          1
25     53               1       1282           2                 5          3
26     32               2       1125           2                16          1
27     42               1        691           1                 8          4
28     44               1        477           2                 7          4
29     46               1        705           1                 2          4
...   ...             ...        ...         ...               ...        ...
1440   36               2        688           2                 4          2
1441   56               3        667           2                 1          4
1442   29               1       1092           2                 1          4
1443   42               1        300           2                 2          3
1444   56               1        310           2                 7          2
1445   41               1        582           2                28          4
1446   34               1        704           1                28          3
1447   36               3        301           1                15          4
1448   41               1        930           1                 3          3
1449   32               1        529           2                 2          3
1450   35               1       1146           3                26          4
1451   38               1        345           1                10          2
1452   50               2        878           1                 1          4
1453   36               1       1120           1                11          4
1454   45               1        374           1                20          3
1455   40               1       1322           2                 2          4
1456   35               2       1199           2                18          4
1457   40               1       1194           2                 2          4
1458   35               1        287           2                 1          4
1459   29               1       1378           2                13          2
1460   29               1        468           2                28          4
1461   50               1        410           1                28          3
1462   39               1        722           1                24          1
1463   31               3        325           2                 5          3
1464   26               1       1167           1                 5          3
1465   36               2        884           2                23          2
1466   39               1        613           2                 6          1
1467   27               1        155           2                 4          3
1468   49               2       1023           1                 2          3
1469   34               1        628           2                 8          3

      EducationField  EmployeeCount
0                  1              1
1                  1              1
2                  6              1
3                  1              1
4                  2              1
5                  1              1
6                  2              1
7                  1              1
8                  1              1
9                  2              1
10                 2              1
11                 1              1
12                 1              1
13                 2              1
14                 1              1
15                 1              1
16                 1              1
17                 2              1
18                 1              1
19                 1              1
20                 6              1
21                 1              1
22                 1              1
23                 1              1
24                 2              1
25                 6              1
26                 1              1
27                 3              1
28                 2              1
29                 3              1
...              ...            ...
1440               1              1
1441               1              1
1442               2              1
1443               1              1
1444               4              1
1445               1              1
1446               3              1
1447               3              1
1448               1              1
1449               4              1
1450               1              1
1451               1              1
1452               1              1
1453               3              1
1454               1              1
1455               1              1
1456               1              1
1457               2              1
1458               1              1
1459               6              1
1460               2              1
1461               3              1
1462               3              1
1463               2              1
1464               6              1
1465               2              1
1466               2              1
1467               1              1
1468               2              1
1469               2              1

[1470 rows x 8 columns]

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

In [65]:
HR_external[HR_external.Gender == 1]

,Individual,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,Ind2,No,49,2,279,2,8,1,1,1,...,4,80,1,10,3,3,10,7,1,7
2,Ind3,Yes,37,1,1373,2,2,2,6,1,...,2,80,0,7,3,3,0,0,0,0
4,Ind5,No,27,1,591,2,2,1,2,1,...,4,80,1,6,3,3,2,2,2,2
5,Ind6,No,32,2,1005,2,2,2,1,1,...,3,80,0,8,2,2,7,7,3,6
7,Ind8,No,30,1,1358,2,24,1,1,1,...,2,80,1,1,2,3,1,0,0,0
8,Ind9,No,38,2,216,2,23,3,1,1,...,2,80,0,10,2,3,9,7,1,8
9,Ind10,No,36,1,1299,2,27,3,2,1,...,2,80,2,17,3,2,7,7,7,7
10,Ind11,No,35,1,809,2,16,3,2,1,...,3,80,1,6,5,3,5,4,0,3
12,Ind13,No,31,1,670,2,26,1,1,1,...,4,80,1,5,1,2,5,2,4,3
13,Ind14,No,34,1,1346,2,19,2,2,1,...,3,80,1,3,2,3,2,2,1,2
14,Ind15,Yes,28,1,103,2,24,3,1,1,...,2,80,0,6,4,3,4,2,0,3
16,Ind17,No,32,1,334,2,5,2,1,1,...,4,80,2,7,5,2,6,2,0,5
17,Ind18,No,22,3,1123,2,16,2,2,1,...,2,80,2,1,2,2,1,0,0,0
19,Ind20,No,38,1,371,2,2,3,1,1,...,3,80,0,6,3,3,3,2,1,2
21,Ind22,Yes,36,1,1218,1,9,4,1,1,...,2,80,0,10,4,3,5,3,0,3
23,Ind24,No,21,1,391,2,15,2,1,1,...,4,80,0,0,6,3,0,0,0,0
24,Ind25,Yes,34,1,699,2,6,1,2,1,...,3,80,0,8,2,3,4,2,1,3
27,Ind28,No,42,1,691,1,8,4,3,1,...,4,80,1,10,2,3,9,7,4,2
30,Ind31,No,33,1,924,2,2,3,2,1,...,4,80,0,7,3,3,1,1,0,0
31,Ind32,No,44,1,1459,2,10,4,6,1,...,4,80,0,9,5,4,4,2,1,3
32,Ind33,No,30,1,125,2,9,2,2,1,...,1,80,0,10,5,3,10,0,1,8
33,Ind34,Yes,39,1,895,1,5,3,4,1,...,3,80,1,19,6,4,1,0,0,0
34,Ind35,Yes,24,1,813,2,1,3,2,1,...,1,80,1,6,2,2,2,0,2,0
36,Ind37,Yes,50,1,869,1,3,2,3,1,...,3,80,0,3,2,3,3,2,0,2
40,Ind41,No,35,1,464,2,4,2,6,1,...,3,80,1,1,3,3,1,0,0,0
42,Ind43,Yes,26,1,1357,2,25,3,1,1,...,3,80,0,1,2,2,1,0,0,1
43,Ind44,No,27,2,994,1,8,3,1,1,...,4,80,0,9,0,3,9,8,1,7
46,Ind47,No,34,3,1065,1,23,4,3,1,...,3,80,0,10,2,3,9,5,8,7
47,Ind48,No,37,1,408,2,19,2,1,1,...,1,80,0,8,1,3,1,0,0,0
48,Ind49,No,46,2,1211,1,5,4,3,1,...,3,80,0,14,4,3,9,6,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420,Ind1421,No,41,1,642,2,1,3,1,1,...,1,80,1,12,3,3,5,3,1,0
1422,Ind1423,No,35,1,1490,2,11,4,2,1,...,3,80,1,5,3,3,2,2,2,2
1423,Ind1424,No,22,1,581,2,1,2,1,1,...,4,80,0,4,2,4,3,2,1,2
1424,Ind1425,No,35,1,1395,2,9,4,2,1,...,2,80,0,10,5,3,10,7,0,8
1427,Ind1428,No,40,1,543,2,1,4,1,1,...,3,80,2,8,3,2,1,0,0,0
1428,Ind1429,No,32,1,234,1,1,4,2,1,...,2,80,1,3,2,3,2,2,2,2
1429,Ind1430,No,39,1,116,2,24,1,1,1,...,1,80,0,18,2,3,7,7,1,7
1434,Ind1435,No,52,3,585,1,29,4,1,1,...,2,80,2,16,3,2,9,8,0,0
1435,Ind1436,No,44,1,1037,2,1,3,2,1,...,3,80,0,6,2,3,4,3,1,2
1436,Ind1437,No,21,1,501,1,5,1,2,1,...,4,80,0,2,6,3,2,2,1,2
1437,Ind1438,No,39,3,105,2,9,3,1,1,...,3,80,0,21,3,2,6,0,1,3
1438,Ind1439,Yes,23,2,638,1,9,3,3,1,...,1,80,1,1,3,2,1,0,1,0
1441,Ind1442,No,56,3,667,2,1,4,1,1,...,1,80,1,13,2,2,13,12,1,9
1442,Ind1443,Yes,29,1,1092,2,1,4,2,1,...,2,80,3,4,3,4,2,2,2,2
1443,Ind1444,No,42,1,300,2,2,3,1,1,...,1,80,0,24,2,2,22,6,4,14
1444,Ind1445,Yes,56,1,310,2,7,2,4,1,...,4,80,1,14,4,1,10,9,9,8
1447,Ind1448,No,36,3,301,1,15,4,3,1,...,1,80,1,15,4,2,15,12,11,11
1448,Ind1449,No,41,1,930,1,3,3,1,1,...,3,80,1,14,5,3,5,4,0,4
1449,Ind1450,No,32,1,529,2,2,3,4,1,...,4,80,0,4,4,3,4,2,1,2
1452,Ind1453,Yes,50,2,878,1,1,4,1,1,...,4,80,2,12,3,3,6,3,0,1
1455,Ind1456,No,40,1,1322,2,2,4,1,1,...,4,80,0,8,2,3,2,2,2,2
1456,Ind1457,No,35,2,1199,2,18,4,1,1,...,4,80,2,10,2,4,10,2,0,2
1459,Ind1460,No,29,1,1378,2,13,2,6,1,...,1,80,1,10,2,3,4,3,0,3
1461,Ind1462,Yes,50,1,410,1,28,3,3,1,...,2,80,1,20,3,3,3,2,2,0
1463,Ind1464,No,31,3,325,2,5,3,2,1,...,2,80,0,10,2,3,9,4,1,7
1465,Ind1466,No,36,2,884,2,23,2,2,1,...,3,80,1,17,3,3,5,2,0,3
1466,Ind1467,No,39,1,613,2,6,1,2,1,...,1,80,1,9,5,3,7,7,1,7
1467,Ind1468,No,27,1,155,2,4,3,1,1,...,2,80,1,6,0,3,6,2,0,3
1468,Ind1469,No,49,2,1023,1,2,3,2,1,...,4,80,0,17,3,2,9,6,0,8
1469,Ind1470,No,34,1,628,2,8,3,2,1,...,1,80,0,6,3,4,4,3,1,2

In [7]:
HR_external[HR_external.Gender == 2]

,Individual,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Ind1,Yes,41,1,1102,1,1,2,1,1,...,1,80,0,8,0,1,6,4,0,5
3,Ind4,No,33,2,1392,2,3,4,1,1,...,3,80,0,8,3,3,8,7,3,0
6,Ind7,No,59,1,1324,2,3,3,2,1,...,1,80,3,12,3,2,1,0,0,0
11,Ind12,No,29,1,153,2,15,2,1,1,...,4,80,0,10,3,3,9,5,0,8
15,Ind16,No,29,1,1389,2,21,4,1,1,...,3,80,1,10,1,3,10,9,8,8
18,Ind19,No,53,1,1219,1,2,4,1,1,...,3,80,0,31,3,3,25,8,3,7
20,Ind21,No,24,3,673,2,11,2,6,1,...,4,80,1,5,5,2,4,2,1,3
22,Ind23,No,34,1,419,2,7,4,1,1,...,3,80,0,13,4,3,12,6,2,11
25,Ind26,No,53,1,1282,2,5,3,6,1,...,4,80,1,26,3,2,14,13,4,8
26,Ind27,Yes,32,2,1125,2,16,1,1,1,...,2,80,0,10,5,3,10,2,6,7
28,Ind29,No,44,1,477,2,7,4,2,1,...,4,80,1,24,4,3,22,6,5,17
29,Ind30,No,46,1,705,1,2,4,3,1,...,4,80,0,22,2,2,2,2,2,1
35,Ind36,No,43,1,1273,2,2,2,2,1,...,4,80,2,6,3,2,5,3,1,4
37,Ind38,No,35,1,890,1,2,3,3,1,...,1,80,0,2,3,3,2,2,2,2
38,Ind39,No,36,1,852,2,5,4,1,1,...,4,80,1,6,3,4,1,1,0,0
39,Ind40,No,33,2,1141,1,1,3,1,1,...,1,80,2,10,3,3,5,3,1,3
41,Ind42,No,27,1,1240,2,2,4,1,1,...,4,80,1,1,6,3,1,0,0,0
44,Ind45,No,30,2,721,2,1,2,2,1,...,4,80,0,12,2,3,12,8,3,7
45,Ind46,Yes,41,1,1360,2,12,3,4,1,...,4,80,0,23,0,3,22,15,15,8
52,Ind53,No,44,1,1488,1,1,5,3,1,...,3,80,1,9,2,2,4,3,1,3
54,Ind55,No,26,1,1443,1,23,3,3,1,...,3,80,1,5,2,2,2,2,0,0
55,Ind56,No,33,2,515,2,1,2,1,1,...,3,80,0,15,1,3,15,14,8,12
57,Ind58,No,35,1,1142,2,23,4,2,1,...,3,80,1,4,3,3,2,2,2,2
61,Ind62,No,38,2,653,2,29,5,1,1,...,4,80,0,10,2,3,10,3,9,9
62,Ind63,No,50,1,989,2,7,2,2,1,...,4,80,1,29,2,2,27,3,13,8
63,Ind64,No,59,1,1435,1,25,3,1,1,...,4,80,0,28,3,2,21,16,7,9
64,Ind65,No,36,1,1223,2,8,3,4,1,...,2,80,3,17,2,3,17,14,12,8
65,Ind66,No,55,1,836,2,8,3,2,1,...,3,80,3,21,2,3,5,0,0,2
70,Ind71,No,59,2,1225,1,1,1,1,1,...,4,80,0,20,2,2,4,3,1,3
74,Ind75,No,36,1,132,2,6,3,1,1,...,2,80,0,5,3,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1379,Ind1380,Yes,27,2,1337,3,22,3,5,1,...,1,80,0,1,2,3,1,0,0,0
1388,Ind1389,No,32,3,1146,2,15,4,2,1,...,2,80,1,9,6,3,5,1,1,2
1392,Ind1393,No,35,1,1224,1,7,4,1,1,...,4,80,0,10,2,3,10,8,0,9
1397,Ind1398,No,54,1,155,2,9,2,1,1,...,3,80,2,9,6,2,4,3,2,3
1402,Ind1403,No,31,1,1276,2,2,1,2,1,...,3,80,3,1,4,3,1,0,0,0
1405,Ind1406,No,31,3,697,2,10,3,2,1,...,3,80,1,13,2,4,11,7,4,8
1406,Ind1407,No,54,1,157,2,10,3,2,1,...,4,80,0,9,3,3,5,2,1,4
1409,Ind1410,No,40,2,692,2,11,3,4,1,...,1,80,1,10,2,4,10,9,9,4
1410,Ind1411,No,40,1,444,1,2,2,3,1,...,3,80,1,15,4,3,11,8,5,10
1411,Ind1412,No,25,1,309,3,2,3,5,1,...,3,80,0,6,3,3,2,0,1,2
1421,Ind1422,No,47,3,1162,2,1,1,2,1,...,1,80,2,14,3,1,13,8,5,12
1425,Ind1426,No,33,1,501,2,15,2,2,1,...,1,80,1,10,6,3,9,7,8,1
1426,Ind1427,No,32,1,267,2,29,4,1,1,...,3,80,0,6,3,3,6,2,4,1
1430,Ind1431,No,38,1,201,2,10,3,2,1,...,1,80,1,20,3,3,18,16,1,11
1431,Ind1432,No,32,1,801,1,1,4,3,1,...,3,80,2,14,3,3,14,10,5,7
1432,Ind1433,No,37,1,161,2,10,3,1,1,...,1,80,1,16,2,3,16,11,6,8
1433,Ind1434,No,25,1,1382,1,8,2,6,1,...,2,80,1,6,3,2,5,3,0,4
1439,Ind1440,No,36,1,557,1,3,3,2,1,...,3,80,2,10,2,3,9,7,3,4
1440,Ind1441,No,36,2,688,2,4,2,1,1,...,2,80,3,18,3,3,4,2,0,2
1445,Ind1446,No,41,1,582,2,28,4,1,1,...,3,80,1,21,3,3,20,7,0,10
1446,Ind1447,No,34,1,704,1,28,3,3,1,...,4,80,2,8,2,3,8,7,1,7
1450,Ind1451,No,35,1,1146,3,26,4,1,1,...,3,80,0,9,2,3,9,0,1,7
1451,Ind1452,No,38,1,345,1,10,2,1,1,...,3,80,1,10,1,3,10,7,1,9
1453,Ind1454,No,36,1,1120,1,11,4,3,1,...,1,80,1,8,2,2,6,3,0,0
1454,Ind1455,No,45,1,374,1,20,3,1,1,...,3,80,0,8,3,3,5,3,0,1
1457,Ind1458,No,40,1,1194,2,2,4,2,1,...,2,80,3,20,2,3,5,3,0,2
1458,Ind1459,No,35,1,287,2,1,4,1,1,...,4,80,1,4,5,3,4,3,1,1
1460,Ind1461,No,29,1,468,2,28,4,2,1,...,2,80,0,5,3,1,5,4,0,4
1462,Ind1463,No,39,1,722,1,24,1,3,1,...,1,80,1,21,2,2,20,9,9,6
1464,Ind1465,No,26,1,1167,1,5,3,6,1,...,4,80,0,5,2,3,4,2,0,0

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

In [67]:
q3 = HR_external.Age.quantile(.75)
q1 = HR_external.Age.quantile(.25)
q3 - q1

13.0

### Find out the mean, median and variance for the column - DailyRate

In [ ]:
HR_external['DailyRate'].mean()
HR_external['DailyRate'].median()
HR_external['DailyRate'].var()

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

In [9]:
import matplotlib.pyplot as plt

In [ ]:
HR_external.plot(x='Attrition',kind='bar')
plt.show()
;

### Plot Total working years using matplotlib plot function

In [ ]:
HR_external.plot(x='Total working years',kind="bar")
plt.show()

In [ ]:
plt.plot